.breadcrumbs {
	margin-bottom: 30px;

	@include mobile {
		margin-bottom: 25px;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 5px 8px;

		@include mobile {
			flex-wrap: nowrap;
		}
	}

	&__item {
		display: inline-flex;
		align-items: center;
		font-size: 14px;
		line-height: 1;
		min-height: 24px;

		@include mobile {
			a {
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}

			&:not(:first-child):not(:last-child) {
				display: none;
			}

			&:first-child:not(:only-child) {
				a {
					display: none;
				}

				&::after {
					content: '...';
					display: inline-block;
				}
			}

			&:last-child {
				overflow: hidden;
			}
		}

		&:last-child {
			color: var(--primary-500);
		}

		&:first-child {
			&::before {
				@include square(24px);

				content: '';
				display: inline-block;
				background-image: url('/images/icons/home.svg');
				background-position: center;
				background-repeat: no-repeat;
				margin-right: 8px;
			}
		}

		&:not(:first-child) {
			&::before {
				content: '/';
				display: inline-block;
				width: 4px;
				margin-right: 8px;
				color: var(--text-color);
			}
		}

		@include hover {
			color: var(--primary-600);
		}
	}
}
