.button {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 10px;
	padding: 8px 30px;
	color: var(--white);
	background-color: var(--primary-500);
	border: none;
	border-radius: 8px;
	font-family: var(--font-family-base);
	font-size: 17px;
	font-weight: 700;
	line-height: 1;

	// text-transform: lowercase;
	// &:first-letter {
	// 	text-transform: uppercase;
	// }

	img {
		max-width: 40px;
		max-height: 40px;
	}

	@include hover {
		background-color: var(--secondary-500);
	}

	&--outline {
		color: var(--secondary-900);
		background-color: transparent;
		border: 1px solid var(--secondary-900);

		@include hover {
			color: var(--white);
			background-color: var(--secondary-900);
		}
	}

	&--link {
		background: none;
		color: inherit;
		padding: 0;
		gap: 8px;

		@include hover {
			background-color: inherit;
			color: var(--primary-500);
		}
	}

	&--gray {
		color: var(--primary-500);
		background-color: var(--gray-500);

		@include hover {
			color: var(--white);
			background-color: var(--primary-500);
		}
	}
}
