.catalog-search {
	display: flex;
	padding: 30px;
	flex-direction: column;
	gap: 10px;
	border-radius: 20px;
	background: var(--white);
	box-shadow: 0px 8px 40px 0px rgba(120, 120, 120, 0.12);

	@include mobile {
		padding: 15px;
	}

	&__alphabet {
		display: flex;
		gap: 15px 30px;
		min-height: 86px;
		padding: 20px 30px;
		border-radius: 20px;
		background: var(--gray-200);

		@include desktop {
			flex-wrap: wrap;
		}

		@include mobile {
			padding: 10px;
		}
	}

	&__description {
		@include fluid-text(18, 16);

		display: flex;
		flex: 1 1 256px;
		max-width: 265px;
		font-weight: 500;
		line-height: 1.45;

		@include desktop {
			max-width: unset;
		}

		@include mobile {
			text-align: center;
			font-weight: 700;
		}
	}

	&__group {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 10px;
		flex: 1 1 644px;
	}

	&__input-container {
		position: relative;
	}

	&__input {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 50px;
		padding: 15px 34px 15px 16px;
		border-radius: 8px;
		border: 1px solid var(--primary-400);
		background: var(--gray-100);
		font-size: 14px;
		transition: border-color 0.1s var(--transition-timing-function);

		&:focus-visible {
			outline: none;
			border-color: var(--primary-600);
		}

		&::-webkit-search-cancel-button {
			appearance: none;
		}
	}

	&__button {
		@include reset-button;

		position: absolute;
		top: 50%;
		right: 16px;
		transform: translateY(-50%);
	}

	&__icon {
		@include square(18px);
	}

	&__letters {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		gap: 5px 1px;
		font-size: 18px;
		font-weight: 500;
		line-height: 1.45;

		a {
			transition: color 0.1s var(--transition-timing-function);

			&.is-active {
				color: var(--secondary-900);
			}

			@include hover {
				color: var(--secondary-900);
			}
		}
	}

	&__letters-row {
		display: contents;
		align-items: center;
		justify-content: space-between;
		width: 100%;

		@include mobile {
			display: flex;
		}
	}

	&__nomenclature {
		display: flex;
		gap: 10px;
		flex-direction: column;
	}

	&__list {
		display: flex;
		gap: 10px;
		flex-wrap: wrap;
		max-height: 321px;
		overflow: auto;

		@include mobile {
			max-height: 160px;
		}

		&.is-expanded {
			max-height: unset;
		}

		&::-webkit-scrollbar {
			height: 4px;
			width: 4px;
		}

		&::-webkit-scrollbar-track {
			background-color: var(--gray-200);
		}

		&::-webkit-scrollbar-thumb {
			background-color: var(--primary-500);
			border-radius: 50px;
		}

		&::-webkit-scrollbar-thumb:hover {
			background-color: var(--primary-600);
		}
	}

	&__all {
		@extend .catalog-categories__all;

		text-align: center;
		display: none;

		@include mobile {
			display: inline;
		}
	}

	&__cards {
		display: contents;
		gap: 10px;
	}

	&__card {
		display: flex;
		flex-direction: column;
		padding: 3px 10px;
		border-radius: 6px;
		background: var(--gray-200);

		@include hover {
			.catalog-search__card-name {
				color: var(--secondary-900);
			}
		}
	}

	&__card-name {
		font-size: 17px;
		font-weight: 700;
		letter-spacing: 0.51px;
		transition: color 0.1s var(--transition-timing-function);

		span {
			font-size: 12px;
			font-weight: 400;
			letter-spacing: normal;
		}
	}

	&__card-alternative {
		font-size: 12px;
	}

	&__empty {
		font-weight: 700;
	}
}
