.footer {
	&__container {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}

	&__top {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 85px;
		justify-content: space-between;
		width: 100%;
		padding: 60px;
		border-radius: 28px;
		color: var(--white);
		background-color: var(--primary-600);
	}

	&__col {
		display: flex;
		flex-direction: column;
		gap: 10px;
		width: 100%;
	}

	&__logo {
		gap: 30px;
	}

	&__image {
		width: 160px;
		height: 115px;
	}

	&__actions {
		display: flex;
		flex-direction: column;
		gap: 15px;
	}

	&__button {
		font-weight: 400;
		color: var(--white);
		border-radius: 5px;
		border: 1px solid var(--white);

		@include hover {
			background-color: var(--secondary-500);
		}
	}

	&__menu {
		a {
			@include hover {
				color: var(--secondary-500);
			}
		}
	}

	&__contacts {
		justify-content: center;
		gap: 15px;

		a {
			@include hover {
				color: var(--secondary-500);
			}
		}
	}

	&__contacts-group {
		display: flex;
		align-items: center;
		gap: 15px;
		font-size: 14px;
	}

	&__phone {
		font-size: 20px;
	}

	&__socials {
		display: flex;
		align-items: center;
		gap: 10px;
	}

	&__social {
		display: flex;
		flex-shrink: 0;

		img {
			@include square(24px);
		}
	}

	&__info {
		@include fluid-text(12, 10);

		line-height: 1.55;
	}

	&__bottom {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 10px;
		padding-bottom: 30px;
	}

	&__copyright {
		a {
			text-decoration: underline;

			@include hover {
				color: var(--primary-500);
			}
		}
	}

	&__dev {
		display: flex;
		align-items: center;
		gap: 10px;
	}
}
