.footer {
	&__container {
		display: flex;
		flex-direction: column;
		gap: 30px;

		@include mobile {
			gap: 15px;
		}
	}

	&__top {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 85px;
		justify-content: space-between;
		width: 100%;
		padding: 60px;
		border-radius: 28px;
		color: var(--white);
		background-color: var(--primary-600);

		@include desktop {
			gap: 30px;
		}

		@include tablet {
			grid-template-columns: repeat(2, 1fr);
			gap: 30px 40px;
		}

		@include mobile {
			grid-template-columns: 1fr;
			gap: 15px;
			padding: 15px;
		}
	}

	&__col {
		display: flex;
		flex-direction: column;
		gap: 10px;
		width: 100%;
	}

	&__logo {
		gap: 30px;
		min-width: 220px;

		@include mobile {
			align-items: center;
			gap: 10px;
			min-width: unset;
		}
	}

	&__image {
		width: 160px;
		height: 115px;
	}

	&__actions {
		display: flex;
		flex-direction: column;
		gap: 15px;

		@include mobile {
			width: 100%;
			flex-direction: row;
			align-items: stretch;
			flex-wrap: wrap;
			justify-content: space-between;
		}
	}

	&__button {
		font-weight: 400;
		color: var(--white);
		border-radius: 5px;
		border: 1px solid var(--white);

		@include hover {
			background-color: var(--secondary-500);
		}

		@include mobile {
			flex: 1 0 0;
			padding: 8px 15px;
		}
	}

	&__menu {
		a {
			@include hover {
				color: var(--secondary-500);
			}
		}

		@include mobile {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
		}
	}

	&__contacts {
		justify-content: center;
		gap: 15px;
		min-width: 220px;

		a {
			@include hover {
				color: var(--secondary-500);
			}
		}

		@include mobile {
			gap: 5px;
			min-width: unset;
		}
	}

	&__contacts-group {
		display: flex;
		align-items: center;
		gap: 15px;
		font-size: 14px;
	}

	&__phone {
		font-size: 20px;
	}

	&__socials {
		display: flex;
		align-items: center;
		gap: 10px;
	}

	&__social {
		display: flex;
		flex-shrink: 0;

		img {
			@include square(24px);
		}
	}

	&__info {
		@include fluid-text(12, 10);

		line-height: 1.55;
	}

	&__bottom {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 10px;
		padding-bottom: 30px;

		@include mobile {
			flex-direction: column;
			padding-bottom: 15px;
		}
	}

	&__copyright {
		a {
			text-decoration: underline;

			@include hover {
				color: var(--primary-500);
			}
		}

		@include mobile {
			text-align: center;
		}
	}

	&__dev {
		display: flex;
		align-items: center;
		gap: 10px;
	}
}
