.form {
	&__label {
		display: inline-block;
		color: var(--gray-700);
		font-size: 12px;
	}

	&__input {
		position: relative;
		width: 100%;
		height: var(--input-height);
		padding: 25px 24px;
		border: 1px solid transparent;
		border-radius: 8px;
		color: var(--black);
		font-size: 16px;
		background-color: var(--gray-200);
		transition: border-color var(--transition-duration)
				var(--transition-timing-function),
			color var(--transition-duration) var(--transition-timing-function);

		&:focus {
			border-color: var(--primary-500);
			outline: none;
		}

		&::placeholder {
			color: var(--gray-700);
		}

		@include mobile {
			height: 42px;
			padding: 8px 15px;
		}
	}

	&__textarea {
		@extend .form__input;

		height: 10rem;
		resize: none;
	}

	&__checkbox-sm {
		@include visually-hidden;

		& + label {
			position: relative;
			padding-left: 15px;
			cursor: pointer;
			user-select: none;

			&:before {
				@include square(12px);

				content: '';
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
			}

			&:after {
				@include square(12px);

				content: '';
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%) scale(0);
				background-image: url('/images/icons/check.svg');
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
				transition: transform 0.1s var(--transition-timing-function);
			}
		}

		&:checked + label:after {
			transform: translateY(-50%) scale(1);
		}

		&:not(:checked) + label:before {
			border: 1px solid var(--gray-500);
			background-color: var(--white);
		}
	}

	&__checkbox {
		display: flex;
		align-items: center;
		gap: 10px;
		user-select: none;
		cursor: pointer;

		&:focus + &-emulator {
			border-color: var(--primary-600);
		}

		&-control {
			@include visually-hidden;
		}

		&-control:not(:checked) + &-emulator::after {
			transform: scale(0);
		}

		&-emulator {
			@include square(24px);

			position: relative;
			display: inline-flex;
			flex-shrink: 0;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			border: 1px solid var(--primary-500);
			border-radius: 3px;
		}

		&-emulator::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 22px;
			height: 22px;
			background-image: url('/images/icons/check-black.svg');
			background-repeat: no-repeat;
			background-position: center;
			transition: transform 0.05s var(--transition-timing-function);
			transform: scale(1);
		}

		&-label {
			font-size: 16px;

			a {
				text-decoration-line: underline;
			}
		}
	}

	&__group {
	}

	&__select-container {
		position: relative;
	}

	&__select-input {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		padding: 8px 12px;
		border-radius: 5px;
		border: 1px solid var(--primary-400);
		background: var(--white);
		font-size: 14px;
		appearance: none;
		-webkit-appearance: none;
		transition: border-color 0.1s var(--transition-timing-function);

		&:focus-visible {
			outline: none;
			border-color: var(--primary-600);
		}

		&:open {
			+ .form__select-arrow {
				transform: translateY(50%);
				rotate: 180deg;
			}
		}
	}

	&__select-arrow {
		position: absolute;
		right: 12px;
		top: 50%;
		height: 5.7px;
		width: 10px;
		transform: translateY(-50%);
	}

	&__slider-container {
		position: relative;
		margin-top: 10px;
		padding-top: 30px;
	}

	&__slider {
		margin: 3px 20px;
		background-color: var(--gray-200);
		height: 6px;
		border-radius: 20px;

		&.ui-widget.ui-widget-content,
		.ui-state-default {
			border: none;
		}

		.ui-widget-header {
			background-color: var(--primary-500);
		}

		.ui-slider-handle {
			@include square(13px);

			background-color: var(--primary-500);
			border-radius: 50%;
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 3px;

			&:focus-visible,
			&:active,
			&.ui-state-active {
				border-color: var(--primary-600);
				outline: none;
				background-color: var(--primary-600);
			}

			&::before,
			&::after {
				content: '';
				position: absolute;
				height: 5px;
				width: 1px;
				background-color: rgba(255, 255, 255, 0.3);
			}

			&::before {
				margin-right: 2px;
			}

			&::after {
				margin-left: 2px;
			}
		}
	}
	&__slider-values {
		display: flex;
		justify-content: space-between;
		margin-bottom: 5px;
	}

	&__slider-value {
		position: absolute;
		top: -35px;
		transform: translateX(-50%);
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0px 6px;
		height: 24px;
		min-width: 28px;
		border-radius: 2px;
		background: var(--text-color);
		color: var(--white);
		font-family: 'Montserrat';
		font-size: 16px;
		font-weight: 700;
		line-height: 1.5;
		letter-spacing: 0.1px;
		text-align: center;
		user-select: none;
		cursor: pointer;

		&::before {
			content: '';
			position: absolute;
			display: block;
			bottom: -1px;
			height: 3px;
			width: 3px;
			transform: rotate(45deg);
			background-color: var(--text-color);
		}
	}

	#price-min {
		left: 0%;
	}

	#price-max {
		left: 100%;
	}
}
