.header {
	position: relative;
	z-index: 10;
	width: 100%;
	background: transparent;
	color: var(--text-color);
	font-weight: 400;
	// background: var(--white);
	// box-shadow: var(--shadow-gray-light);
	margin-bottom: 15px;

	&__container {
		display: flex;
		align-items: stretch;
		justify-content: space-between;
		padding-block: 15px;
		gap: 60px;

		@include mobile {
			display: none;
		}
	}

	&__logo {
		display: flex;
		flex-shrink: 0;

		img {
			width: 160px;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 10px;
		padding-top: 15px;
		max-width: 1190px;
		width: 100%;
	}

	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 30px;
		width: 100%;
	}

	&__contacts {
		display: flex;
		align-items: center;
		gap: 30px;
	}

	&__contacts-group {
		display: flex;
		align-items: center;
		gap: 10px;
	}

	&__phone {
		display: flex;
		align-items: center;
		gap: 10px;

		img {
			@include square(24px);
		}

		span {
			@include fluid-text(20, 14);

			text-wrap: nowrap;
		}
	}

	&__socials {
		display: flex;
		align-items: center;
		gap: 7px;
	}

	&__social {
		display: flex;
		flex-shrink: 0;

		img {
			@include square(24px);
		}
	}

	&__schedule {
		display: flex;
		align-items: center;
		gap: 10px;

		img {
			@include square(24px);
		}
	}

	&__actions {
		display: flex;
		align-items: center;
		gap: 15px;
	}

	&__button {
		padding: 8px 15px;
		height: 27px;
		font-weight: 400;
		font-size: 16px;
		border-radius: 5px;
	}

	&__cart {
		display: flex;
		align-items: center;
		gap: 10px;
	}

	&__cart-link {
		position: relative;

		img {
			width: 36px;
			height: 34px;
		}
	}

	&__cart-number {
		@include square(24px);

		position: absolute;
		top: -5px;
		right: -5px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		border-top: 1px solid var(--secondary-500);
		border-right: 1px solid var(--secondary-500);
		border-bottom: 1px solid var(--secondary-500);
		background: var(--white);
		font-size: 10px;
	}

	&__cart-text {
		color: var(--primary-500);
	}

	&__nav {
		width: 100%;
		background-color: var(--white);
		padding-right: 15px;
	}

	&__menu {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 5px;

		li {
			display: contents;
			position: relative;

			&:not(:first-child):not(:nth-child(2)) {
				&::before {
					content: '';
					display: block;
					position: relative;
					width: 1px;
					height: 20px;
					background: var(--primary-500);
				}
			}
		}

		a {
			border-radius: 5px;
			padding: 8px 15px;

			@include hover {
				background: var(--gray-500);
			}
		}

		.header__catalogue {
			display: flex;
			align-items: center;
			gap: 10px;
			padding: 9px 20px;
			background: var(--primary-500);
			color: var(--white);
			border-radius: 5px;
			transition: background var(--transition-duration)
				var(--transition-timing-function);

			img {
				width: 22px;
				height: 17px;
			}

			@include hover {
				background: var(--primary-600);
			}
		}

		.header__search {
			display: flex;
			align-items: center;
			gap: 10px;
			padding: 8px 15px;
		}

		.header__search-icon {
			@include square(20px);

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
}
