.landscaping-services {
	margin-bottom: var(--section-margin-bottom);

	&__container {
		display: flex;
		flex-direction: column;
		gap: 15px;
	}

	&__rows {
		display: flex;
		flex-direction: column;

		@include tablet {
			gap: 15px;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
		}

		@include mobile {
			grid-template-columns: repeat(2, 1fr);
		}

		@include mobile-s {
			grid-template-columns: repeat(1, 1fr);
		}
	}

	&__row {
		position: relative;
		display: flex;
		gap: 30px;

		&--top {
			align-items: flex-start;
			margin-bottom: -50px;
		}
		&--bottom {
			align-items: flex-end;
		}

		@include tablet {
			display: contents;
		}
	}

	&__item {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		flex: 1 1 0;
		border-radius: 25px;
		overflow: hidden;

		&--xl {
			flex: 0 1 486px;
			height: 420px;
		}
		&--md {
			flex: 0 1 360px;
			height: 330px;
		}
		&--sm {
			flex: 0 1 300px;
			height: 330px;
		}
		&--lg {
			flex: 0 1 360px;
			height: 420px;
		}

		@include tablet {
			flex: 1 1 0;
			height: 180px;
		}
	}

	&__image {
		z-index: 1;
		width: 100%;
		height: 100%;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__overlay {
		position: absolute;
		z-index: 2;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		padding: 32px;
		background: var(--background-gradient-primary);
		transition: all var(--transition-duration) var(--transition-timing-function);

		@include hover {
			background: var(--background-gradient-secondary);
		}

		@include tablet {
			padding: 15px 10px;
		}
	}

	&__text {
		@include fluid-text(18, 14);

		color: var(--white);
		width: 100%;
		text-align: left;
		z-index: 4;
		font-weight: 500;
		justify-content: space-between;

		@include hover {
			color: var(--white);
		}
	}

	&__title-wrapper {
		display: flex;
		align-items: center;
		height: 330px;

		@include tablet {
			display: none;
		}
	}

	&__title {
		&--main {
			display: none;
			text-align: left;
			padding-bottom: 15px;

			@include tablet {
				display: block;
			}
		}

		&--inner {
			display: block;
			padding-bottom: 10px;
			max-width: 540px;
			text-align: right;

			&.bottom-line {
				&::before {
					right: 0;
					left: unset;
				}
			}

			@include tablet {
				display: none;
			}
		}
	}
}
