.modal {
	display: none;

	&.is-open {
		display: block;
	}

	&__overlay {
		position: fixed;
		z-index: 20;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 5px;
		background: var(--overlay-black);
	}

	&__container {
		position: relative;
		background-color: var(--white);
		padding: 30px;
		max-width: 470px;
		width: 100%;
		max-height: 100vh;
		overflow-y: auto;
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
		border-radius: 12px;

		@include mobile {
			padding: 15px;
			max-height: 90dvh;
		}
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 30px;
	}

	&__title {
		@include fluid-text(34, 24);

		color: var(--primary-500);

		&.bottom-line {
			padding-bottom: 15px;
		}
	}
	&__close {
		border: none;
		background: transparent;
		cursor: pointer;
		width: 24px;
		height: 24px;
		position: relative;
		outline: none;

		&:before,
		&:after {
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			width: 24px;
			height: 3px;
			background-color: var(--primary-600);
			transition: background-color var(--transition-duration)
				var(--transition-timing-function);
		}

		&:before {
			transform: rotate(45deg);
		}

		&:after {
			transform: rotate(-45deg);
		}

		@include hover {
			&:before,
			&:after {
				background-color: var(--primary-500);
			}
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}

	&__form {
		display: flex;
		flex-direction: column;
		gap: 15px;
	}

	&__form-header {
		display: flex;
		flex-direction: column;
		gap: 10px;
		text-align: center;
	}

	&__form-title {
		@include fluid-text(24, 20);

		font-weight: 500;
		color: var(--text-color);
	}

	&__form-subtitle {
		@include fluid-text(20, 16);

		span {
			font-weight: 700;
			color: var(--primary-500);
		}
	}

	&__form-inputs {
		display: flex;
		flex-direction: column;
		gap: 15px 30px;
	}

	&__form-bottom {
		display: flex;
		justify-content: center;
		gap: 10px 48px;

		.button {
			height: var(--button-height);
		}

		@include mobile {
			flex-direction: column;
			gap: 10px;
		}
	}

	&#modal-cart {
		.modal__container {
			max-width: 910px;
			border-radius: 28px;
		}

		.modal__header {
			margin-bottom: 30px;
		}

		.modal__form {
			padding: 30px;
			border-radius: 12px;
			border: 1px solid var(--primary-500);

			@include mobile {
				padding: 10px;
			}
		}

		.modal__form-inputs {
			flex-direction: row;

			@include mobile {
				flex-direction: column;
			}
		}
	}

	&#modal-filter {
		.catalog-filter {
			box-shadow: none;
			padding: 0;
		}
	}
}

.micromodal-slide {
	display: none;
}

.micromodal-slide.is-open {
	display: block;
}

.micromodal-slide[aria-hidden='false'] .modal__overlay {
	animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden='false'] .modal__container {
	animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden='true'] .modal__overlay {
	animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden='true'] .modal__container {
	animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
	will-change: transform;
}

@keyframes mmfadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes mmfadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes mmslideIn {
	from {
		transform: translateY(15%);
	}
	to {
		transform: translateY(0);
	}
}

@keyframes mmslideOut {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(-10%);
	}
}
