.popular-categories {
	margin-bottom: var(--section-margin-bottom);

	&__container {
		display: flex;
		flex-direction: column;
		gap: 30px;

		@include mobile {
			gap: 15px;
		}
	}

	&__title {
		padding-bottom: 15px;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: 30px;

		@include mobile {
			gap: 15px;
		}
	}

	&__item {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;
		flex: 1 0 230px;
		padding: 20px;
		border-radius: 12px;
		box-shadow: 0px 4px 40px 0px rgba(163, 163, 163, 0.1);
		background: var(--white);
		transition: box-shadow var(--transition-duration)
			var(--transition-timing-function);
		min-height: 258px;
		text-align: center;
		overflow: hidden;

		&:has(.popular-categories__text) {
			@include mobile {
				flex-direction: row;
				justify-content: flex-start;
				gap: 15px;
				flex: 1 0 100%;
			}
		}

		@include hover {
			box-shadow: 0px 4px 40px 0px rgba(163, 163, 163, 0.3);
		}

		@include mobile {
			padding: 15px;
			flex: 1 0 155px;
			min-height: unset;
		}

		@include mobile-s {
			flex: 1 0 125px;
		}

		.img-1 {
			width: 78px;
			height: 156px;
		}
		.img-2 {
			@extend .img-1;
		}
		.img-3 {
			width: 171px;
			height: 156px;
		}
		.img-4 {
			width: 163px;
			height: 156px;
		}
		.img-5 {
			@extend .img-1;
		}
		.img-6 {
			width: 135px;
			height: 156px;
		}
		.img-7 {
			width: 199px;
			height: 156px;
		}
		.img-8 {
			width: 100px;
			height: 156px;
		}
		.img-9 {
			width: 230px;
			height: 113px;
		}

		@include mobile {
			.img-1 {
				width: 24px;
				height: 47px;
			}
			.img-2 {
				@extend .img-1;
			}
			.img-3 {
				width: 51px;
				height: 47px;
			}
			.img-4 {
				width: 50px;
				height: 46px;
			}
			.img-5 {
				@extend .img-1;
			}
			.img-6 {
				width: 41px;
				height: 47px;
			}
			.img-7 {
				width: 60px;
				height: 48px;
			}
			.img-8 {
				width: 30px;
				height: 47px;
			}
			.img-9 {
				width: 69px;
				height: 34px;
			}
		}
	}

	&__frame {
		@include square(122px);

		position: relative;
		height: fit-content;
		display: flex;
		padding: 0px 12px;
		justify-content: center;
		flex-shrink: 0;
		margin-top: 25px;
		margin-bottom: auto;
		border-radius: 1000px 1000px 0px 0px;
		border: 1px solid var(--primary-400);
		background: var(--gray-200);

		@include mobile {
			@include square(36px);

			flex-shrink: 0;
			padding: 0px 3px;
			margin-inline: 3px;
			margin-top: 9px;
			border-radius: 300px 300px 0px 0px;
			border: 0.3px solid var(--primary-400);
		}
	}

	&__image {
		position: absolute;
		bottom: 0;

		img {
			object-fit: contain;
			width: inherit;
			height: inherit;
		}
	}

	.popular-categories__text {
		display: contents;

		@include mobile {
			display: flex;
			flex-direction: column;
			text-align: left;
		}
	}

	&__name {
		@include fluid-text(20, 16);

		color: var(--primary-500);
		margin-bottom: 8px;
	}

	&__count {
		@include fluid-text(14, 12);

		color: var(--gray-700);

		@include mobile {
			margin-top: auto;
		}
	}

	&__count-text {
		@include mobile {
			display: none;
		}
	}

	&__link {
		margin-inline: auto;
	}
}
