body {
	@include fluid-text(16, 14);

	font-family: var(--font-family-base);
	font-weight: 400;
	line-height: 1.35;
	color: var(--text-color);
	background-color: var(--background-color);
}

body {
	position: relative;

	&::after {
		content: '';
		display: block;
		pointer-events: none;
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		right: 0;
		margin-inline: auto;
		width: 100dvw;
		height: 1200px;
		background: radial-gradient(
				ellipse 350px 350px at -5% 10%,
				rgba(255, 166, 0, 0.1) 0%,
				#fff0 80%
			),
			radial-gradient(
				ellipse 550px 550px at 20% 50%,
				rgba(255, 166, 0, 0.2) 0%,
				#fff0 80%
			),
			radial-gradient(
				ellipse 150px 150px at 55% 75%,
				rgba(255, 166, 0, 0.05) 0%,
				#fff0 80%
			),
			radial-gradient(
				ellipse 400px 350px at 50% 80%,
				rgba(255, 251, 0, 0.25) 0%,
				#fff0 80%
			);
		opacity: 0.7;

		@include mobile {
			display: none;
		}
	}
}

html {
	scroll-padding-top: var(--header-height);
}

a,
button,
input,
textarea,
svg * {
	transition-duration: var(--transition-duration);
	transition-timing-function: var(--transition-timing-function);
}

a {
	color: inherit;
	text-decoration: none;
}

img,
svg {
	user-select: none;
}

h1,
.h1 {
	@include fluid-text(72, 34);
}

h2,
.h2 {
	@include fluid-text(72, 34);

	span {
		color: var(--primary-500);
	}
}

h3,
.h3 {
	@include fluid-text(34, 24);
}

h4,
.h4 {
	@include fluid-text(24, 20);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
	line-height: 1.15;
	font-weight: 700;
}
